:root [theme="darkll"]{
     --m-color: #f66ff8;
     }


*{
				box-sizing: border-box;
			}
:root {
    --python: #101569;
    --main-color: #f66fff;
    --kod:#004510;
    --back-code:#ffc;
    --back-pre:#ffc;
    --back-cmd:#eee;
}
.python pre {
    color: var(--kod);
    background-color:var(--back-pre);
    font-weight:900;   
}
.python code {
    font-family:Courier New;
    color: var(--python);
    
}
.python span { 
font-weight:700;
color:#108888
}

span{
color: red;
}
.example {/* окно для демонстрации примера*/
border:2px solid darkblue;
border-radius:6px;
padding:0px 5px 0px 5px;
background-color:Lavender;
}

.windov {/*окно для таблицы*/
border: 1px solid #222;
color:Darkblue;
overflow:auto;}
.windov td:nth-child(2n+1) { background-color: #bbb; }
.windov td:nth-child(2n) { background-color: #455a64;color:white; }
pre {
overflow:auto;
}
.helloWorld pre 
{font-size:1.1em;

}
.helloWorld span {color:Magenta;}	
#blockSpan, #bs{/*выделение однострочной записи блоком*/
color: black;
display: block;
font-weight:800;
margin-top:4px;
}

#boltRed, #br{/* выделение впжной записи в заголовке*/
color: red;
font-weight:800;
font-family:Arial;
}

#comand, #cmd{/*стилизуем команды терминала*/
color:purple;
font-weight:800;
background-color:var(--back-cmd);
}
#kod{
display:block;
color: darkgreen;
font-weight:800;
margin:10px;
letter-spacing: 1px;
font-family:Courier New;
font-size:0.8em;
}
#block, #b{
display:block;
color:blue;

margin:6px;
}
#out{/*стилизуем ссылку на тестовую страницу*/
text-decoration: none;
font-style:bolt;
font-family:Arial;
font-size:18px;
border: 1px;
background-color: red;
color:white;
}

body{ 
margin:0;
padding:0;
}

.content{
margin-top: 30px;
padding: 10px;
}


.blue {color:Darkblue;}
.green {color:green;}
.black>p {color:black;}

.roundgreen {background-color: green;}

.color1 {background-color: #675BA7;}
.color2 {background-color: #9BC850;}
.color3 {background-color: #A62E5C;}
.color4 {background-color: #2A9FBC;}
.color7 {background-color: #F15B2A;}
.color5 {background-color: #4e342e;}
.color6 {background-color: black;}