:root [theme="darkll"]{
     --m-color: #f66ff8;
     }


*{
				box-sizing: border-box;
            }
p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    
    --code-color: #073470;
    --code-fontfamily: Anonymous Pro;
    --python: #101569;
    --main-color: #f66fff;
    --kod:#004510;
    --back-code:#ffc;
    --back-pre:#ffc;
    --back-cmd:#eee;
    --strong-color:rgb(48, 33, 2);
}
strong {
    color: var(--strong-color);
}
kbd {
    color: var(--back-cmd);
    background-color: var(--code-color);
}
code {
 color: var(--code-color);
 font-family: var(--code-fontfamily);
 font-size: 1 rem;
 
}
.python pre {
    color: var(--kod);
    background-color:var(--back-pre);
    font-weight:700;   
}
.python code {
    font-family:Courier New;
    color: var(--python);
    
}
.python span { 
font-weight:700;
color:#108888
}

span{
color: red;
}
.example {/* окно для демонстрации примера*/
border:2px solid darkblue;
border-radius:6px;
padding:0px 5px 0px 5px;
background-color:Lavender;
}

.windov {/*окно для таблицы*/
border: 1px solid #222;
color:Darkblue;
overflow:auto;}
.windov td:nth-child(2n+1) { background-color: #bbb; }
.windov td:nth-child(2n) { background-color: #455a64;color:white; }
pre {
overflow:auto;
}
.helloWorld pre 
{font-size:1.1em;

}
.helloWorld span {color:Magenta;}	
#blockSpan, #bs, .blockSpan {/*выделение однострочной записи блоком*/
color: black;
display: block;
font-weight:800;
margin-top:4px;
}

#boltRed, #br, .boltRed{/* выделение впжной записи в заголовке*/
color: red;
font-weight:800;
font-family:Arial;
}

#comand, #cmd, .cmd{/*стилизуем команды терминала*/
color:purple;
font-weight:800;
background-color:var(--back-cmd);
}
#kod, .kod {
display:block;
color: darkgreen;
font-weight:800;
margin:10px;
letter-spacing: 1px;
font-family:Courier New;
font-size:0.8 rem;
}

.output {

border:2px solid #2f4f4f;
border-radius:6px;
padding:0px 5px 0px 5px;
background-color:Silver;

}
#block, #b, .blockBlue{
display:block;
color:blue;

margin:6px;
}
#out{/*стилизуем ссылку на тестовую страницу*/
text-decoration: none;
font-style:bolt;
font-family:Arial;
font-size:18px;
border: 1px;
background-color: red;
color:white;
}

body{ 
margin:0;
padding:0;
}

.content{
margin-top: 30px;
padding: 10px;
}

.php-content code {
    color:#225;
    font-size: 1.2em;
    background-color:var(--back-cmd);
}

.php {
    color:#225;
    font-weight;800:
}

.blue {color:Darkblue;}
.green {color:rgba(63, 192, 3, 0.945);}
.black {color:black;}
.red {color:darkred}

.roundgreen {background-color: green;}

.color1 {background-color: #675BA7;}
.color2 {background-color: #9BC850;}
.color3 {background-color: #A62E5C;}
.color4 {background-color: #2A9FBC;}
.color7 {background-color: #F15B2A;}
.color5 {background-color: #4e342e;}
.color6 {background-color: black;}


input[type=button] {
    /* Width and position */
   
    padding: 8px 5px;
   
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
   
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
 
input[type=button]:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
 
input[type=button]:active {
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}
 