
		.toolbar{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: #222;
		border-bottom: 1px solid #ccc;
		z-index:100;
		}
		.toolbar a{
		color: #eee;
		display: inline-block;
		padding-right: 0.7em;
		padding-left:0.7em;
		text-decoration: none;
		font-family: Verdana;
		font-size:17px;
		}
		
		.toolbar a:hover{
		background-color: red;
		color: #f4f4f4;
		}
		
		
	
@media screen and (min-width: 600px) {
		
	toolbar a{
		color: #eee;
		
		padding-right: 0.7em;
		padding-left:0.7em;
}	
